*{
    margin: 0;
    padding: 0;
}
.container{
max-width: 1140px;
width: 100%;
margin: 0 auto;
padding: 0 10px;
} 
.header{
    background-color:#222;
}
.header__wrap{
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 18px;
}
.header__logo{
    margin-right: 41px;
}
.header__item{
    margin-right: 41px;
}
a{
text-decoration: none;
}
.intro{
    height: 764px;
    background-color: #F1E4E6;
    margin-bottom: 30px;
}
.intro__wrap{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../images/main\ photo.svg);
    background-repeat: no-repeat;
    background-position: -208px bottom;
}
.intro__text{
    padding-left: 10px;
    border-left: 10px solid #F16D7F;;
    width: 377px;
}
.decor{
    color: #F16D7F;
}
.category{
    margin-bottom: 30px;
}
.category__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.category__item:not(:last-child){
    width: 360px;
    height: 260px;
    margin-bottom: 20px;
}
.category__item{
    height: 108px;
    border: 1px solid black;
    width: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.item-1{
    background: url(../images/layer\ girl.png);
     background-repeat: no-repeat;
}
.item-2{
background: url(../images/layer\ man.png);
background-repeat: no-repeat;
}
.item-3{
background: url(../images/layer\ child.png);
background-repeat: no-repeat;
}
.item-4{
background: url(../images/layer\ accs.png);
background-repeat: no-repeat;
}
.category__span{
    color: #FFF;
}
.category__text{
    color: #F16D7F;
}
.card__wrap{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.card__text{
    padding-left: 350px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: end;
    margin-bottom: 20px;
}
.card__item{
    background: #F8F8F8;
width: 360px;
margin-bottom: 30px;
}
.card__name{
    margin-top: 25px;
    color: #000;
    font-size: 13px;
}
.card__feature{
    color: #5D5D5D;
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 12px;
}
.card__price{
color: #F16D7F;
font-size: 16px;
margin-bottom: 20px;
}
.card__button{
    padding: 15px 39px 15px 39px;
    color: #FF6A6A;
    border: 1px solid #FF6A6A;
    margin-left: 470px;
    margin-bottom: 50px;
}
.footer{
    background:#222224;
}
.footer__top{
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-top: 104px;
    padding-bottom: 104px;

}

.items__maintxt{
    color: #FBFBFB;
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 18px
}
.items__secdtxt{
    color: #FBFBFB;
    font-size: 13px;
}
.footer__items:not(:last-child){
    padding-right: 30px;
}
.footer__mid{
    background: url(../images/photo\ subscribe.png);
    background-repeat: no-repeat;
    padding-bottom: 126px;
    padding-top: 97px;
}
.mid__wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}
.mid-1{

}
.footer__quote{
    color: #222224;
    font-size: 20px;
    width: 360px;
}
.subscribe{
    color: #222224;
    font-size: 24px;
}
.mid__subtxt{
    color: #222224;
    font-size: 14px;
}
.lower__wrap{
    margin-top: 30px;
    padding-bottom: 30px;
}
.lower__text{
    color: #FBFBFB;
    font-size: 16px;
}
