*{
    margin: 0;
    padding: 0;
}
.container{
max-width: 1140px;
width: 100%;
margin: 0 auto;
padding: 0 10px;
} 
header{
    background:#222;
    
}
.wrap{
    padding: 18px;
    display: flex;
    justify-content: space-between;
}
.logo{
    text-decoration: none;
    margin-right: 41px;
}
.nav__items:not(:last-child){
margin-right: 41px;
}
.intro{
    background: #F1E4E6;
    height: 764px;
    margin-bottom: 65px;
}
.intro__wrap{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: end;
    background: url(../images/main\ photo.svg);
    background-repeat: no-repeat;
    background-position: -208px bottom;
}
.intro__wrap h3{
max-width: 360px;
font-size: 32px;
border-left: 5px solid #F16D7F;
padding-left: 10px;
}
.intro__wrap span{
    color:#F16D7F;
}
.category{
    margin-bottom: 96px;
}
.category__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.category__items:not(:last-child){
    width: 360px;
    height: 260px;
    margin-bottom: 20px;
}
.category__items{
    height: 108px;
    border: 1px solid black;
    width: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.item-1{
    background: url(../images/layer\ girl.png);
     background-repeat: no-repeat;
}
.item-2{
background: url(../images/layer\ man.png);
background-repeat: no-repeat;
}
.item-3{
background: url(../images/layer\ child.png);
background-repeat: no-repeat;
}
.item-4{
background: url(../images/layer\ accs.png);
background-repeat: no-repeat;
}
.category span{
    color: #FFF;
}
.category h3{
    color: #F16D7F;
}
.card{
margin-bottom: 95px;
}
.card__wrap{
    display: flex;
    flex-wrap: wrap;
}
.card__introduction{
display: flex;
    flex-direction: column;
    align-items: center;
}
.card__items{
max-width: 360px;
background: #F8F8F8;
margin-top: 30px;

}

.card__items:not(:last-child){
    margin-right: 20px;
}
.card__text{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.card__naming{
    color: #000;
    font-size: 13px;
}
.card__features{
padding-top: 15px;
padding-bottom: 15px;
color: #5D5D5D;
font-size: 14px;
}
.card__price{
    color: #F16D7F;
font-size: 16px;
}
.wrap__button{
    padding-top: 48px;
    display: flex;
    justify-content: center;
}
.wrap__button button{
    padding: 19px 35px 19px 35px;
    border: 1px solid #FF6A6A;
    color: #FF6A6A;
    background: white;
}
.features{
    background:#222224;
}
.features__wrap{
    justify-content: center;
    display: flex;

}
.features__items{
    padding-top: 103px;
    padding-bottom: 103px;
    align-items: center;
    flex-direction: column;
    display: flex;
    text-align: center; 
}
.features__items:not(:last-child){
    padding-right: 30px;
}

.features__text h3{
    color: #FBFBFB;
    font-size: 19px;
    padding-bottom: 15px;
    padding-top: 25px;
}
.features__text p{
    color: #FBFBFB;
    font-size: 13px;
    max-width: 280px
}
.subscribe{
    background: url(../images/photo\ subscribe.png);
}
.subscribe__wrap{
   display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.subscribe__img{
    padding-top: 97px;
    padding-bottom: 126px;
    max-width: 360px;
}
.subscribe__input{
    padding-top: 150px;
    padding-bottom: 156px;
}
.subscribe__img p{
    color: #222224;
    font-size: 20px;
    padding-top: 30px;

}
.subscribe__input h5{
color: #222224;
font-size: 20px;
}
.subscribe__input p{
    font-size: 18px;
}
.subscribe__input input{
    margin-top: 30px;
    padding: 7px 60px 7px 20px;
    border-radius: 12px;
    background: #E1E1E1;
    border: 1px solid #E1E1E1;
}
form button{
    display: flex;
    background-color: #F16D7F;
    color: white;
    border: 1px solid #F16D7F;
    padding: 7px;
    border-radius: 11px;
    justify-content: center;
    width: 85px;
    height: 36px;
    flex-direction: column;
    margin-top: 30px;
}
form{
    display: flex;
}
footer{
    background:#222;
}
.footer__wrap{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer__right p{
    color: #FBFBFB;
}
.product__arrivals{
    background: #F8F3F4;
    margin-bottom: 51px;
}
.product__wrap{
    display: flex;
    justify-content: space-between;
    padding: 60px 0 60px 0;
}
.product__left{
    color: #F16D7F;
    font-size: 24px;
}
.product__right{
display: flex;
}
.product__right a{
    text-decoration: none;
    color: #636363;
    font-size: 14px;
}
.product__right a:last-child{
    color: #F16D7F;
}
details > summary{
    list-style: none;
}
details > summary ::-webkit-details-marker{
    display: none;
}
summary p{
    margin-right: 10px;
}
summary{
    display: flex;
}